
nav {
  height: 6rem;
}
.panels {
  min-height:100%;
  overflow: hidden;
  display: flex;
}
.panel {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background:#000;
  color:white;
  text-align: center;
  transition: font-size 0.7s cubic-bezier(0.57,-0.43, 0.75, 1.23),
  flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11);
  font-size: 20px;
  background-size:cover;
  background-position:center;
}
.panel1 { background-image:url(../img/1.jpg); }
.panel2 { background-image:url(../img/2.jpg); }
.panel3 { background-image:url(../img/4.jpg); }
.panel4 { background-image:url(../img/3.jpg); }
.panel5 { background-image:url(../img/5.jpg); }

.panel * {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
  width: 100%;
  transition:transform 0.5s;
}
.panel a {
  color: #fff;
  text-decoration: none;
  font-family: 'Lobster', cursive;
  text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 1.5em;
}
.panel.active {
  flex: 2;
  font-size:2em;
  border-bottom: 4px solid #fff;
}

// .highlight {
//   transition: all 0.2s;
//   border-bottom:2px solid white;
//   position: absolute;
//   top:0;
//   background:black;
//   left:0;
//   z-index: -1;
//   display: block;
//   box-shadow: 0 0 10px rgba(0,0,0,0.2);
//   border-bottom: 5px solid white;

// }