<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<head>
		<meta charset="UTF-8">
		<title>Homework</title>
		<script src="https://code.angularjs.org/1.5.8/angular.js"></script>
		<link rel="stylesheet" href="styles.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body ng-controller="NavController">

		<header>
			<h1>Now on the app store!</h1>
		</header>

		<nav id="main">
			<a class="logo" href="#0"><img src="/img/logo.svg" /></a>
			<ul id="nav-links">
				<li ng-repeat="navItem in navItems">
					<a href=" {{ navItem.link }} ">{{ navItem.label }}</a>
				</li>
			</ul>
		</nav>

		<div class="site-wrap"">

          <input class="ab" ng-model="searchFor" placeholder="Filter beers" size="30"/>

          {{ beername }}{{ beerme[0].name }}

          <form name="searchBeer">
              <input type="search" placeholder="Search beers" ng-model="beername" />
              <input type="submit" value="Search" ng-click="search(beername)" />
          </form>
a
         <div class="beer" ng-repeat="beer in beerme">
            <h2>{{ beerme[0].name }}</h2>
            <h3>{{ beerme[0].tagline }}</h3>
            <p>{{ beerme[0].description }}</p>
        </div>
a
          <div class="beer" ng-repeat="beer in beers | filter:searchFor | orderBy:'name' ">
            <h2>{{ beer.name }}</h2>
            <h3>{{ beer.tagline }}</h3>
            <p>{{ beer.description }}</p>
        </div>

    </div>

    <script src="main.js"></script>

    <script>

     var app = angular.module('myApp', []);

     app.controller("NavController", function( $scope, $http ) {

        var onBeersComplete = function (response){
            $scope.beers = response.data
        }

        $http.get('https://api.punkapi.com/v2/beers/')
        .then( onBeersComplete )

        $scope.beername = "Buzz"

        $scope.search = function(beername){
            
            const slct = $scope.beers.filter(function(beer){
                if (beer.name === beername){
                    return true
                }
            })
            console.log(slct)
            $scope.beerme = slct
        }

        $scope.navItems = [
        {
            label: 'Watchlist',
            link: 'watchlist',
            header: 'Market intelligence now revolves around what you need',
            content: `
            <ul>
                <li>Create topical tiles with the content you want</li>
                <li>Access subscribed research without having to check your email</li>
                <li>Compile and share research based on your interests</li>
                <li>Access your Barclays Live charts on the go</li>
                <li>Go deeper into topics in your own time, online or offline</li>
            </ul>`
        },
        {
            label: 'Research',
            link: 'research',
            header: 'Accessing your content has never been easier',
            content: `
            <ul>
                <li>Filter content by asset class, region, industry or currency</li>
                <li>View what’s trending today, this week, this month</li>
                <li>Browse a magazine or publication and add it to your Watchlist</li>
                <li>Select text in publications to highlight and annotate</li>
                <li>Create a Quick List and save it to your Workbook for easy access in the future</li>
            </ul>`
        },
        {
            label: 'Markets',
            link: 'markets',
            header: 'The pulse of the market is right at your fingertips',
            content: `
            <ul>
                <li>Check live FX pricing from BARX</li>
                <li>Monitor market data across asset classes</li>
                <li>Access Barclays Indices, Credit Center, TRENDS and more</li>
                <li>View companies under coverage across equities and credit</li>
                <li>Access financial forecasts from our equity analysts</li>
            </ul>`
        },
        {
            label: 'Workbook',
            link: 'workbook',
            header: 'Save and organize content for offline reading',
            content: `
            <ul>
                <li>Look for Add to Workbook wherever you are in the app</li>
                <li>Create folders in your Workbook with the content you like</li>
                <li>Add your annotated publications to the Workbook</li>
                <li>Access content in your Workbook online or offline</li>
            </ul>`
        },
        {
            label: 'Connect',
            link: 'connect',
            header: 'A new interactive experience',
            content: `
            <ul>
                <li>View messages from your Barclays research analysts and sales teams</li>
                <li>Reply to your Barclays contacts on the go</li>
                <li>Share tiles, publications and charts</li>
                <li>Read messages seamlessly on your tablet and via email</li>
            </ul>`
        },
        {
            label: 'Desktop',
            link: 'desktop',
            header: 'Start on your tablet, continue on the desktop',
            content: `
            <ul>
                <li>Work seamlessly on the desktop and on your tablet</li>
                <li>View your Watchlist, your Workbook and Connect from the tablet and the desktop</li>
                <li>Create charts on the desktop and view them on the app</li>
            </ul>`
        },
        {
            label: 'FAQ',
            link: 'faq',
            header: 'FAQ',
            content: `
            <ul>
                <li>Work seamlessly on the desktop and on your tablet</li>
                <li>View your Watchlist, your Workbook and Connect from the tablet and the desktop</li>
                <li>Create charts on the desktop and view them on the app</li>
            </ul>`
        }]
    })


</script>

</body>
</html>






















