header {
  text-align: center;
  height: 20vh;
  background: url(../img/img.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    background: rgba(255,255,255,0.5);
  }
  @media screen and (min-width: $break-two) {
    height: 40vh;
    background-attachment: fixed;
  }
  h1 {
    color: white;
    font-size: 7vw;
    font-weight: 300;
    text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.2);
  }
}










